<div class ='container'>
<h1><%=@question.title%></h1>

<div class='question'>
  <%= erb :'_partials/_point_partial', layout: false, locals: { comment: nil, question: @question, answer: nil} %>
  <p><%=@question.text%> </p>
</div>
<button id="question_comment">Add Comment</button>
<form class='hidden submitform' method = 'post' action='/questions/<%=@question.id%>/comments'>
  <textarea name='text' rows=5 col=20> </textarea>
  <input type='submit' value="press me">
</form>
  <h4> Comments: </h4>
  <div class='comments questions_comments'>
  <% if !@question.comments.empty? %>
    <%@question.comments.each do |comment|%>

    <%= erb :'_partials/_comment_partial', layout: false, locals: { comment: comment, question: @question, answer: nil} %>
    <% end %>

    <% end %>
</div>


<% if !@question.answers.empty? %>
  <h2><%=@question.answers.count%> Answers </h2>
  <div class='answerwrapper'>
    <%@question.answers.each do |answer|%>
    <div class="answers id="answer<%=answer.id %>">
      <%= erb :'_partials/_point_partial', layout: false, locals: { comment: nil, question: @question, answer: answer} %>
      <%=answer.text%>
        <!-- <a href="/questions/best/<%= @question.id %>" >choose me</a>
       <% if answer.best %>
      <a href="/questions/best/<%= @question.id %>" ><span class= "glyphicon glyphicon-ok"></span></a>
      <% end %> --> -->
      Answer By: <%=answer.user.username%>
      <button id="answer_comment">Add Comment</button>
      <form class='hidden submitform2' method = 'post' action='/questions/<%=@question.id%>/answers/<%=answer.id %>/comments'>
        <textarea name='text' rows=5 cols=20> </textarea>
        <input type='submit' value="ANSWER COMMENT SUBMIT BUTT">
      </form>

      <div class='comments2 col-xs-10'>
      <% if !answer.comments.empty? %>
          <%answer.comments.each do |comment|%>
          <%= erb :'_partials/_comment_partial', layout: false, locals: { comment: comment, question: @question, answer: answer } %>
          <%end%>
      <%end%>
    </div>
    </div>
    <%end%>
  </div>
<%end%>
<br>
<div class="answer_form">
  <h3> Your Answer </h3>
  <form class='answer_form' method = 'post' action='/questions/<%=@question.id%>/answer'>
    <textarea name='text' rows=15 cols=80> </textarea>
    <input type='submit' value="Submit Answer">
  </form>
</div>
</div>
