<div class ='container'>
<h1><%=@question.title%></h1>

<div class='question'>
  <%=@question.votes.pluck(:vote_direction).sum%> POINTS
  <p><%=@question.text%> </p>
</div>
<button id="question_comment">Add Comment</button>
<form class='hidden submitform' method = 'post' action='/questions/<%=@question.id%>/comments'>
  <textarea name='text' rows=5 col=20> </textarea>
  <input type='submit' value="press me">
</form>
  <h4> Comments: </h4>
  <div class='comments'>

  <% if !@question.comments.empty? %>
    <%@question.comments.each do |comment|%>
    <div>
          AMAZING COMMENT: <%=comment.text%> <br>
          COMMENT BY: <%=comment.user.username%>
    </div>
    <% end %>
    <% end %>

</div>


<% if !@question.answers.empty? %>
  <h2><%=@question.answers.count%> Answers </h2>
  <div class='answerwrapper'>
    <%@question.answers.each do |answer|%>
    <div class="answers" id="answer<%=answer.id %>">
      <%=answer.votes.pluck(:vote_direction).sum%> POINTS
      <%=answer.text%>
      Answer By: <%=answer.user.username%>
      <button id="answer_comment">Add Comment</button>
      <form class='hidden submitform2' method = 'post' action='/questions/<%=@question.id%>/answers/<%=answer.id %>/comments'>
        <textarea name='text' rows=5 cols=20> </textarea>
        <input type='submit' value="ANSWER COMMENT SUBMIT BUTT">
      </form>

      <div class='comments2'>
      <% if !answer.comments.empty? %>
          <%answer.comments.each do |comment|%>
            <div>
                <%=comment.votes.pluck(:vote_direction).sum%> POINTS
                <%=comment.text%>
                <%=comment.user.username%>
            </div>
          <%end%>
      <%end%>
    </div>
    </div>
    <%end%>
  </div>
<%end%>
<div class="answer_form">
  <h3> Your Answer </h3>
  <form class='answer_form' method = 'post' action='/questions/<%=@question.id%>/answer'>
    <textarea name='text' rows=15 cols=80> </textarea>
    <input type='submit' value="Submit Answer">
  </form>
</div>
</div>
