<div class="container">
<h2> Welcome <%= @user.username %> !</h2>
<div class ="Summary">
    <h5><em>SUMMARY COUNT</em> - Questions :  <%= @questions.count%>
    - Answers :  <%= @answers.count%>
    - Comments :  <%= @comments.count%> </h5>
</div>
  <div class ="questions">
    <h3> Questions </h3>

    <ul>
      <% @questions.each do |question| %>
        <div class="questions row">

        <div class="col-sm-6">
        <li>
        <a href="/questions/<%=question.id %>"><%= question.title %></a>
        created - <%= question.time_since_creation  %> hours ago </div>
        <div class="col-sm-1">
        <a href="/questions/<%=question.id %>/edit"><span class='glyphicon  glyphicon-pencil'></span></a></div>

          <div class="col-sm-1">
        <form method="post" action= "/questions/<%=question.id %>">
          <input type="hidden" name="_method" value = "delete">
          <button class="glyphicon no_outline" type="submit" type="hidden">
              <span class="glyphicon glyphicon-trash "></span>
              </button>
            </form>
        </div>
            <div class="col-sm-4"></div>
        </form>
      </li>
        </div>
      <% end %>
    </ul>
  </div>
  <div class ="answers">
  <h3> Answers </h3>
    <ul>
      <% @answers.each do |answer| %>
      <li>
      <%= answer.text %> - <%= answer.time_since_creation %> hours ago</li>
      <% end %>
    </ul>
  </div>
  <div class="user_comment">
  <h3> Comments </h3>
    <ul>
      <% @comments.each do |comment| %>
      <li>
        <%= comment.text %>  -  <%= comment.time_since_creation %> hours ago </li>
      <% end %>
    </ul>
  </div>
</div>
