<div class='points center' >



  <form class='vote upvote' method = 'post' action='/'>
    <input type='text' class='hidden' name='questions' value='<%=question.id%>'>
      <% if answer %>
    <input type='text' class='hidden' name='answers' value='<%=answer.id%>'>
      <%end %>
      <% if comment %>
    <input type='text' class='hidden' name='comments' value='<%=comment.id%>'>
      <%end %>
    <button class="glyphicon no_outline" type="submit" type="hidden"><span class="glyphicon glyphicon-triangle-top"></span>
    </button>
  </form>

  <% if comment %>
  <div class='current_votes text-center'><b><%=comment.votes.pluck(:vote_direction).sum %></b></div>
  <% elsif answer %>
  <div class='current_votes text-center'><b><%=answer.votes.pluck(:vote_direction).sum %></b></div>
  <% else question %>
  <div class='current_votes text-center'><b><%=question.votes.pluck(:vote_direction).sum %></b></div>
  <% end %>

  <form class='vote downvote' method = 'post' action='/'>
    <input type='text' class='hidden' name='questions' value='<%=question.id%>'>
      <% if answer %>
    <input type='text' class='hidden' name='answers' value='<%=answer.id%>'>
      <%end %>
      <% if comment %>
    <input type='text' class='hidden' name='comments' value='<%=comment.id%>'>
      <%end %>
              <button class="glyphicon no_outline" type="submit" type="hidden"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
  </form>



</div>
